
@font-face{
	font-family: iransans;
	src: url(IRANSansWeb.woff) format('woff')
}

body{ 
	font-family: iransans;
	background-color:#CCC7C7;
	padding-right:50px;
	direction: rtl
}


   img{
	padding-left: 50px;
}
 h1 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	color: blue;
	background-color: yellow;
	text-align: center}

.th {
	padding-right: 20px;
}
h2{
	font-size: xx-large;
	
}
